In [9]:
import pandas as pd

In [10]:
analisis_influencers = pd.read_csv("twitter_connections_update.csv", sep = ";")

In [11]:
analisis_influencers

              followee         follower
0          Cooperativa    Lucas46613336
1          Cooperativa   Walter06506495
2          Cooperativa  FabianO89073630
3          Cooperativa    Verdatagiando
4          Cooperativa      pantruquera
...                ...              ...
83067       mendygaete  indignadobiobio
83068       mendygaete        ManuRiosG
83069  indignadobiobio        ManuRiosG
83070        ManuRiosG     OctavaBioBio
83071        ManuRiosG         HMomberg

[83072 rows x 2 columns]

In [22]:
freq = analisis_influencers.groupby(['followee']).count()
freq.columns

Index(['follower'], dtype='object')

In [21]:
freq['follower']

followee
00O0O0O0OO187      1
01101100Cat      100
013DCSY            2
019Pab             1
021Klhau           1
                ...
zunigacamila       1
zurdo_gato         1
zvisheena          1
zwefthelx          1
zzrockk            1
Name: follower, Length: 22389, dtype: int64

In [32]:
influencers = freq.sort_values('follower',ascending=False)
influencers

                 follower
followee
Cooperativa          1000
soyvaldiviacl        1000
elmostrador          1000
latercera             700
pachidiaze            104
...                   ...
Patrici64570776         1
Patrici91394585         1
PatriciaAbalos          1
PatriciaAlamos1         1
zzrockk                 1

[22389 rows x 1 columns]

In [38]:
tramo0 = 0
tramo1 = 0
tramo2 = 0
tramo3 = 0
tramo4 = 0
tramo5 = 0


for i in range(5000):
    if influencers['follower'].iloc[i] >= 50:
        tramo0 += 1
    if influencers['follower'].iloc[i] >= 60:
        tramo1 += 1
    if influencers['follower'].iloc[i] >= 70:
        tramo2 += 1
    if influencers['follower'].iloc[i] >= 80:
        tramo3 += 1
    if influencers['follower'].iloc[i] >= 90:
        tramo4 += 1
    if influencers['follower'].iloc[i] >= 100:
        tramo5 += 1
        
print(f"Cantidad de usuarios con mas de 50 seguidores: {tramo0 - 4}")
print(f"Cantidad de usuarios con mas de 60 seguidores: {tramo1 - 4}")
print(f"Cantidad de usuarios con mas de 70 seguidores: {tramo2 - 4}")
print(f"Cantidad de usuarios con mas de 80 seguidores: {tramo3 - 4}")
print(f"Cantidad de usuarios con mas de 90 seguidores: {tramo4 - 4}")
print(f"Cantidad de usuarios con mas de 100 seguidores: {tramo5 - 4}")

Cantidad de usuarios con mas de 50 seguidores: 403
Cantidad de usuarios con mas de 60 seguidores: 377
Cantidad de usuarios con mas de 70 seguidores: 348
Cantidad de usuarios con mas de 80 seguidores: 329
Cantidad de usuarios con mas de 90 seguidores: 304
Cantidad de usuarios con mas de 100 seguidores: 294