In [6]:
import pandas as pd

In [7]:
result_tendencias = pd.read_csv("Tendencias_politicas_usuarios.csv", sep = ";")
result_componentes = pd.read_csv("Componentes_fuertemente_conexas_filtradas.csv", sep = ";")

In [8]:
result_tendencias

               Usuario  Coorporativa  soyvaldiviacl  latercera  elmostrador
0      JorgeIg35374759      0.285714       0.226190   0.202381     0.285714
1      me_ojedacatalan      0.234432       0.296703   0.234432     0.234432
2       Vaneza71436778      1.000000       0.000000   0.000000     0.000000
3             pochirry      0.000000       1.000000   0.000000     0.000000
4      karenishkavill1      0.200376       0.234211   0.304511     0.260902
...                ...           ...            ...        ...          ...
41849  fsanchezlatorre      0.268089       0.243970   0.219852     0.268089
41850     Vanessistica      0.241071       0.290179   0.196429     0.272321
41851      CazadorDeLN      0.244048       0.291667   0.184524     0.279762
41852    ivanapazaapin      0.215774       0.260417   0.226190     0.297619
41853       BosqueMiel      0.178571       0.250000   0.285714     0.285714

[41854 rows x 5 columns]

In [9]:
result_componentes

,0,filtro,2,3,4,5,6,7,8,9,...,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736
0,CamilaS85842272,patty_gvi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CMCarabineros,edumiragu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,iturra_pau,_macarena182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,yessica_yo,AndreaBoyco,Lexdir_cl,Julyestef,igmendezor,Edorey,ester_manzo,amunozs,sandraoyarzuns,patrimoniocl,...,valdivia_city,Lalyval,MAJOSEPUGA,cbizama,ErwinUrrutia2,Ximenalunecke,Franeguiluz,Empowered_chile,Marcela34166782,ignaciajoustra5
4,pablocarmonam,FerniMorenoSch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,dagb1990,LaucknerNunez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,IrmaTischhauser,VivianER02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,cristian3035,sabina_4654,BelmarioFM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,RoqueSagrado,BlurChile,uchile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,andrecondeandre,Cesia950566887,PazPinto20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,alexandresgm,Risk_LaCrome,Estereoscopio_,Lucas46613336,vir_giniaok,FabianO89073630,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Koke77843094,privero7,rsiliencia5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Antonio75648975,gatoporgato,CamiloArriaga20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,daveherrick96,kimberlicitass,wesly2000,EvradeWilliam,AndreaPobleteH1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Margari05722396,JeanPierreGodd1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Droguett_Pau,JDwingelo,AriasIsla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,benjaminpalmath,LionecElOtta,Benedic_cavi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,indignadobiobio,HMomberg,mendygaete,ManuRiosG,OctavaBioBio,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,analuisaortuzar,Elizabeth5390,DeyGerman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
result_componentes = result_componentes.fillna(0)

In [11]:
lista = []
for i in range(len(result_componentes)):
    for j in range(1737):
        if result_componentes.iloc[i,j] != 0:
            usuario = result_tendencias[result_tendencias['Usuario'] == result_componentes.iloc[i,j]]
            
            #componentes_concat = pd.concat([followee, follower], axis=0)
            lista.append(usuario)

In [18]:
componentes_tendencias = pd.concat(lista)
componentes_tendencias

               Usuario  Coorporativa  soyvaldiviacl  latercera  elmostrador
1054   CamilaS85842272      0.000000       1.000000   0.000000     0.000000
1154         patty_gvi      0.000000       1.000000   0.000000     0.000000
1267     CMCarabineros      0.500000       0.000000   0.000000     0.500000
1692         edumiragu      0.666667       0.000000   0.000000     0.333333
566         iturra_pau      0.000000       0.000000   0.333333     0.666667
...                ...           ...            ...        ...          ...
40533        ManuRiosG      0.233333       0.233333   0.266667     0.266667
5164      OctavaBioBio      0.250000       0.250000   0.250000     0.250000
29633  analuisaortuzar      0.271916       0.242695   0.251623     0.233766
35217    Elizabeth5390      0.259158       0.234432   0.271978     0.234432
35873        DeyGerman      0.247449       0.224490   0.252551     0.275510

[1791 rows x 5 columns]

In [19]:
componentes_tendencias.to_csv("componentes_con_tendencias.csv", index = False, sep = ';')