In [13]:
import pandas as pd

In [14]:
analisis_influencers = pd.read_csv("twitter_connections_update.csv", sep = ";")

In [15]:
analisis_influencers

,followee,follower,id_followee,id_follower,followee_count,followers_count
0,Cooperativa,Lucas46613336,0,1685,43,0
1,Estereoscopio_,Lucas46613336,15171,1685,43,0
2,alexandresgm,Lucas46613336,33420,1685,43,0
3,Cooperativa,Walter06506495,0,2816,11,0
4,elmostrador,Walter06506495,3,2816,11,0
...,...,...,...,...,...,...
83052,bahamondemanuel,ksnegrita,3011,34907,2545,1737
83053,PeriodistaFigue,ksnegrita,4771,34907,2545,1737
83054,bahamondemanuel,la_vause,3011,28902,7023,25237
83055,c_gonzalezv,la_vause,15121,28902,7023,25237
83056,bahamondemanuel,latiatt,3011,13648,5951,5589

In [16]:
freq = analisis_influencers.groupby(['followee']).count()
freq.columns

Index(['follower', 'id_followee', 'id_follower', 'followee_count',
       'followers_count'],
      dtype='object')

In [17]:
freq['follower']

followee
00O0O0O0OO187      1
01101100Cat      100
013DCSY            2
019Pab             1
021Klhau           1
                ...
zunigacamila       1
zurdo_gato         1
zvisheena          1
zwefthelx          1
zzrockk            1
Name: follower, Length: 22389, dtype: int64

In [18]:
influencers = freq.sort_values('follower',ascending=False)
influencers

,follower,id_followee,id_follower,followee_count,followers_count
followee,,,,,
Cooperativa,1000,1000,1000,1000,1000
soyvaldiviacl,1000,1000,1000,1000,1000
elmostrador,1000,1000,1000,1000,1000
latercera,700,700,700,700,700
DBustosKorts,104,104,104,104,104
...,...,...,...,...,...
Patrici64570776,1,1,1,1,1
Patrici91394585,1,1,1,1,1
PatriciaAbalos,1,1,1,1,1
PatriciaAlamos1,1,1,1,1,1
zzrockk,1,1,1,1,1

In [27]:
suma = 0
for i in range(407):
    if i > 3:
        suma += int(influencers['follower'].iloc[i])

In [28]:
suma

37320

In [38]:
tramo0 = 0
tramo1 = 0
tramo2 = 0
tramo3 = 0
tramo4 = 0
tramo5 = 0


for i in range(5000):
    if influencers['follower'].iloc[i] >= 50:
        tramo0 += 1
    if influencers['follower'].iloc[i] >= 60:
        tramo1 += 1
    if influencers['follower'].iloc[i] >= 70:
        tramo2 += 1
    if influencers['follower'].iloc[i] >= 80:
        tramo3 += 1
    if influencers['follower'].iloc[i] >= 90:
        tramo4 += 1
    if influencers['follower'].iloc[i] >= 100:
        tramo5 += 1
        
print(f"Cantidad de usuarios con mas de 50 seguidores: {tramo0 - 4}")
print(f"Cantidad de usuarios con mas de 60 seguidores: {tramo1 - 4}")
print(f"Cantidad de usuarios con mas de 70 seguidores: {tramo2 - 4}")
print(f"Cantidad de usuarios con mas de 80 seguidores: {tramo3 - 4}")
print(f"Cantidad de usuarios con mas de 90 seguidores: {tramo4 - 4}")
print(f"Cantidad de usuarios con mas de 100 seguidores: {tramo5 - 4}")

Cantidad de usuarios con mas de 50 seguidores: 403
Cantidad de usuarios con mas de 60 seguidores: 377
Cantidad de usuarios con mas de 70 seguidores: 348
Cantidad de usuarios con mas de 80 seguidores: 329
Cantidad de usuarios con mas de 90 seguidores: 304
Cantidad de usuarios con mas de 100 seguidores: 294